/* VARIABLE COLLECTIONS FRA FIGMA */

/* ------ PRIMITIVE VARIABLER -------- */

/* Color */

:root {
  --asur-blue-900: #176672;
  --black-900: #090a0a;
  --dark-grey-900: #4b4645;
  --light-grey-100: #efefef;
  --yellow-900: #ffdf4c;
}

/* Spacing  */
:root {
  --primitive-spacing-xs: 1rem;
  --primitive-spacing-s: 3rem;
  --primitive-spacing-m: 5rem;
  --primitive-spacing-l: 6.25rem;
  --primitive-spacing-xl: 12.5rem;
  --primitive-spacing-xxl: 18.75rem;
}

/* Font Size  */
:root {
  --fontsize-xs: 16px;
  --fontsize-s: 24px;
  --fontsize-m: 32px;
  --fontsize-l: 48px;
  --fontsize-xl: 80px;
  --fontsize-xxl: 100px;
}
/* ------- SEMANTISKE VARIABLER  ---------- */

/* ------Buttons color---------*/
:root {
  --buttons-cards-background: var(--black-900);
  --buttons-cards-hover-border: var(--yellow-900);
  --buttons-cards-hover-text: var(--yellow-900);
  --buttons-cards-text: var(--light-grey-100);
  /* Primary  */
  --buttons-primary-background: var(--yellow-900);
  --buttons-primary-border: var(--yellow-900);
  --buttons-primary-text: var(--black-900);
  --buttons-primary-text-hover: var(--yellow-900);
  /* Secudanry */
  --secondary-button-background: var(--asur-blue-900);
  --secondary-button-border: var(--asur-blue-900);
  --secondary-button-text: var(--light-grey-100);
}

/*------- Button spacing --------*/

:root {
  --button-spacing-verticalt: var(--primitive-spacing-xs);
  --button-spacing-horisontalt: var(--primitive-spacing-m);
}

/* ------------ Cards ------------------*/

:root {
  --cards-background: var(--dark-grey-900);
  --cards-border: var(--yellow-900);
  --cards-label-color: var(--yellow-900);
  --cards-text: var(--light-grey-100);
}

/* ----------- Sections -------------  */

:root {
  --section-background-black: var(--black-900);
  --section-background-dark-grey: var(--dark-grey-900);
  --section-background-light-grey: var(--light-grey-100);
  --section-yellow-slide-background: var(--yellow-900);
  --section-blue-slide-background: var(--asur-blue-900);
}

/* --------- Typografi  -------------*/
:root {
  --headers-color: var(--light-grey-100);
  --headers-color-black: var(--black-900);
  --paragraph-color-black: var(--black-900);
  --paragraph-color-darkgrey: var(--dark-grey-900);
  --paragraph-color-lightgrey: var(--light-grey-100);
  --text-margin-button: var(--primitive-spacing-xs);
  --text-margin-top: var(--primitive-spacing-s);
}

:root {
  --paragraph-size-16: var(--fontsize-xs);
  --paragraph-size-24: var(--fontsize-s);
  --paragraph-size-32: var(--fontsize-m);
  --manchet-size-48: var(--fontsize-l);
  --header-size-80: var(--fontsize-xl);
  --header-100: var(--fontsize-xxl);
}

/* -------- Border-radius -------- */

:root {
  --border-radius: 0.625rem;
}

@font-face {
  font-family: "DesignstudietDisplay";
  src: url("../fonte/DansestudietDisplay1-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
