---
import Button from "../components/Button.astro";
import TilmeldSection from "../components/TilmeldSection.astro";
import HeroSection from "../components/HeroSection.astro";
import WorkshopSection from "../components/WorkshopSection.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dansestudiet</title>
  </head>
  <body>
    <HeroSection />
    <TilmeldSection />
    <WorkshopSection />
  </body>
  <style>
    body {
      /* background-color: var(--black-900, #090a0a); */
      background-color: var(--section-background-light-grey, --light-grey-100);
      margin: 0;
      /* max-width: 1200px; */
    }
  </style>
</html>
