---
---

<Button>Tilmeld dig</Button>

<style>
  display: flex;
  width: 221px;
  min-width: 100px;
  padding: 15px 30px;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
</style>
