---
---

<button class="Primary">Stilarter</button>
<!-- <button class="Secundary">Stilarter</button> -->

<style>
  /* ----- Primary button ----- */

  .Primary {
    border-style: none;
    max-width: fit-content;
    padding: var(--button-spacing-verticalt, 1rem)
      var(--button-spacing-horisontalt, 5rem);
    margin: var(--primitive-spacing-xs, 1rem);
    border-radius: var(--Border-radius, 0.625rem);
    background: var(--buttons-primary-background, #ffdf4c);
    /* Paragraf */
    color: var(--buttons-primary-text, #090a0a);
    text-align: center;
    font-family: Noto Sans;
    font-size: var(--paragraph-size-24, --fontsize-s);
    font-weight: 500;
  }
  .Primary:hover {
    background-color: transparent;
    border: 1px solid var(--buttons-primary-border, #ffdf4c);
    color: var(--buttons-primary-text-hover, #ffdf4c);
    text-align: center;
  }
</style>
