---
import Button from "../components/Button.astro";
import ButtonSecundary from "./ButtonSecundary.astro";
---

  <section class="gridcontainer">
    <section class="section1">
            <div class="H1-CTA">
        <h1>Dansestudiet</h1>

        <Button />
        <ButtonSecundary />
        <h2 class="h2Section1">Jazz</h2>
      </div>
    </section>
    <section class="section2"><h2>Moderne</h2></section>
    <section class="section3"><h2>House</h2></section>
  </section>

<style>
  /* .backgroundimg {
    position: relative;
    background-image: url("../asset/images/heroPic.webp");

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  h1 {
    color: var(--headers-color, --light-grey-100);
    font-family: DansestudietDisplay1;
    font-size: var(--header-100, --fontsize-xxl);
    font-weight: 700;
    margin-bottom: var(--text-margin-button, --primitive-spacing-xs);
  }
  .H1-CTA {
    position: absolute;
    top: 70%;
    left: 20%;
  }
  h2 {
    color: var(--headers-color, --light-grey-100);
    font-family: DansestudietDisplay1;
    font-size: 2rem;
    position: absolute;
    top: 80%;
    left: 10%;
  }
  .h2Section1 {
    color: var(--headers-color, --light-grey-100);
    font-family: DansestudietDisplay1;
    font-size: 2rem;
    /* position: absolute; */
    top: 10%;
    left: 90%;
  }

  .gridcontainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    grid-auto-flow: column;
    margin: 0 auto;
  }

  .section1 {
  position: relative;
  background-image: url("../asset/images/heroPic.webp");
  background-repeat: no-repeat;
  background-size: contain; /* Adjust the value here */
  top: -100px;
  }

  .section2 {
    position: relative;
    background-color: var(--section-yellow-slide-background, #ffdf4c);
    background-image: url("../asset/images/yellowslide.webp");
    background-size: cover;
  }

  .section2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    z-index: 1;
  }

  .section3 {
    position: relative;
    background-color: var(--section-blue-slide-background, #176672);
    background-image: url("../asset/images/blueslide.webp");
    background-size: cover;
  }

  .section3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    z-index: 1;
  }


    @media (max-width: 1200px) {

  .section2,.section3 {
    display: none; 
  }

  .section1 {
  position: relative;
  background-image: url("../asset/images/heroPic.webp");
  background-size: ;
  width: 100%;
  transform: scale(0.6); /* Reduce the size to 50% */
  left: -50px;
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .H1-CTA {
  position: relative;
  left: 0;
}
.h2Section1 {
    display: none;
  }

}

</style>
