---
import Button from "../components/Button.astro";
---

<section>
  <h1>Dansestudiet</h1>
  <img src="../asset/images/heroPic.png" alt="" />
  <!-- Hvorfor kommer billedet ikke ind? -->
  <Button />
</section>

<style>
  h1 {
    color: var(--headers-color, #efefef);
    font-family: DansestudietDisplay1;
    font-size: 6.25rem;
    font-weight: 700;
  }
</style>
