---
import Button from "../components/Button.astro";
import ButtonSecundary from "./ButtonSecundary.astro";
---

<section class="gridcontainer">
  <section class="section1">
    <h1>Dansestudiet</h1>

    <Button />
    <ButtonSecundary />
  </section>
  <section class="section2"></section>
  <section class="section3"></section>
</section>

<style>
  h1 {
    color: var(--headers-color, #efefef);
    font-family: DansestudietDisplay1;
    font-size: 6.25rem;
    font-weight: 700;
  }

  .gridcontainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    grid-auto-flow: column;
  }

  .section1 {
    background-image: url("../asset/images/heroPic.webp");
    background-position: center;
    background-size: cover;
    background-color: var(--black-900, #090a0a);
  }

  .section2 {
    grid-column: 15%;
    background-color: var(--section-yellow-slide-background, #ffdf4c);
  }

  .section3 {
    grid-column: 15%;
    background-color: var(--section-yellow-slide-background, #176672);
  }
</style>
