---
import ButtonTertiary from "../components/ButtonTertiary.astro";
---

<section>
  <div class="content">
    <h2>Tilmeld dig næste sæsson</h2>
    <p>
      Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
      libero et velit interdum, ac aliquet odio mattis. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Curabitur tempus urna at turpis condimentum lobortis.
    </p>
    <ButtonTertiary />
  </div>
</section>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: var(--paragraph-color-lightgrey, #efefef);
    font-family: DansestudietDisplay1;
    font-size: 3rem;
    font-weight: 700;
  }
  p {
    color: #fff;
    font-family: Noto Sans;
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 37.5rem;
  }

  section {
    background-color: var(--DarkGrey-900, #4b4645);
    width: 100%;
    display: grid;
    justify-content: center;
    max-height: fit-content;
    padding-top: var(--primitive-spacing-l, 6.25rem);
    padding-bottom: var(--primitive-spacing-l, 6.25rem);
  }
</style>
