---
import WSCard from "./WSCard.astro";
---

<section>
  <div class="fill100">
    <h1>Denne måneds workshop</h1>
  </div>
  <div class="fill100">
    <div class="fill50"><WSCard /></div>

    <div class="fill50"><WSCard /></div>
  </div>
</section>

<style>
  section {
    /* display: flex; */
    width: 100vw;
    height: 100rem;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
    /* gap: 2.875rem 5.625rem; */
    /* flex-shrink: 0;
    flex-wrap: wrap; */
    background: var(--section-background-light-grey, #efefef);
  }

  h1 {
    /* display: inline-block; */
    width: 47.6875rem;
    height: 8.0625rem;
    color: #176672;
    font-family: DansestudietDisplay1;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.9625rem; /* 99.25% */
  }

  .fill100 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: var(--primitive-spacing-s, 3rem);
  }

  .fill50 {
    width: 50%;
  }
</style>
