---
import WSCard from "./WSCard.astro";
import WSCard2 from "./WSCard2.astro";
---

<section>
  <div class="fill100">
    <h1>Denne måneds workshop</h1>
  </div>
  <div class="fillCards">
    <div class="fill50"><WSCard /></div>
    <div class="fill50"><WSCard2 /></div>
  </div>
</section>

<style>
  section {
    width: 100vw;
    height: 100rem;
    background: var(--section-background-light-grey, #efefef);
  }

  h1 {
    width: 47.6875rem;
    height: 8.0625rem;
    color: #176672;
    font-family: DansestudietDisplay1;
    font-size: var(--header-size-80, --fontsize-xl);
    font-style: normal;
    font-weight: 700;
    line-height: var(--lineheight-header, --primitive-spacing-m);
    padding-left: var(--primitive-spacing-s, 3rem);
  }

  .fill100 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: var(--primitive-spacing-s, 3rem);
  }

  .fillCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--primitive-spacing-m, 5rem);
  }

  .fill50 {
    width: 40%;
  }
</style>
